*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    text-align: center;
    padding: 2rem;
    background: #2f2f2f;
    color: white;
}

li{
    list-style-type: none;
    padding: 0.5rem;
}

h1{
    padding: 1rem;
}
i{
    padding-left: 1rem;
}

.fa-circle-check{
    color: green;
}
.fa-circle-xmark{
    color: red;
}
.fa-circle-question{
    color: rgb(255, 255, 0);
}